html,body{
	height: 100%;
}

.container{
	height: 100%;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.img-responsive img {
    max-width: 100%;
    height: auto;
}

section .right-pattern img{
	position: absolute;
	right: 0;
}