header{
	width: 100%;
	height: 80px;
	position: fixed;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: -.7%;
	z-index: 999;
	background-color: white;
}

.logo img{
	height: 60px;
}

.menu ul{
	list-style-type: none;
}

.menu li{
	display: inline-block;
	text-align: center;
	margin-left: 20px;
}

.menu li a{
	font-family: "Poppins", sans-serif;
    font-size: 12px;
        padding: 0 8px 0px 8px;
    font-size: 500;
	color: black;
	text-decoration: none;				
}

.butn{
	border: none;
	background-color: #49e4fa;
	cursor: pointer;
	text-decoration: none;
	outline: none;
	padding: 8px 12px;
	font-size: 12px;
}

.text-btn .side-image img{
	height: 470px;
	margin-top: -8%;
	z-index: -1;
	position: absolute;
	right: 1%;
}

.text-btn{
	background: linear-gradient(0deg, #bfacff 0%, #795fff 100%);
	transform: skewY(-10deg);
	z-index: -2;
	height: 575px;
	width: 100%;
}

.text{
	transform: skewY(10deg);
	text-align: center;
	padding-top: 10%;
}

.text h1{
	width: 100%;
	margin-top: 5%;
	font-size: 50px;
	text-align: center;
	color: black;
}

.text p{
	width: 100%;
	font-size: 16px;
	text-align: center;
	margin-bottom: 3%;
	color: black;
}

.text .buton{
	margin-top: 2%;
}

.buton{
	border: none;
	text-decoration: none;
	outline: none;
	margin-left: 2%;
	border-radius: 5px;
	padding: 11px 11px 11px 11px;
	background-color: #1e9e6b;
	cursor: pointer;
	color: white;
}

.img-text-btn{
	z-index: -2;
	margin-top: 10%;
}

.computer-img img{
	height: 400px;
}

.right-text-btn  h1{
	padding-top: 2%;
	width: 440px;
    font-size: 58px;
}

.right-text-btn  p{
	font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 300;
	color: #777777;
	line-height: 22px;
	width: 426px;
}

.right-text-btn .pattern-right img{
	height: 500px;
	transform: translateY(-90%);
	position: absolute;
	right: 0;
	z-index: -2;
	margin: 6% 0 0 0;
}

.container1{
	margin-top: -8%;
	z-index: -2;
	width: 100%;
}

.left{
	margin: 10% 0 0 0;
}

.left h1{
	padding-left: 10%;
	width: 500px;
	font-size: 48px;
}

.left p{
	padding-left: 10%;
	font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 300;
	color: #777777;
	line-height: 22px;
	margin-bottom: 5%;
	width: 450px;
}

.left .butn{
	margin-left: 10%;
	z-index: 2;
}

.right{
	margin-top: 15%;
}

.right img{
	width: 540px;
}

.container1 .pattern-right-img img{
	width: 350px;
	height: 450px;
	transform: skewY(-6deg);
	margin-top: -3%;
	z-index: -2;
}

.rotate-img{
	transform: skewY(-10deg);
	background: linear-gradient(135deg, #bfacff 0, #795fff 100%);
	height: 700px;
	z-index: -2;
	margin-top: -10%;
	width: 100%;
}

.rotate img{
	transform: skewY(-5deg);
	width: 500px;
	height: 500px;
	padding: 25% 0 0 3%;
}

.rotate-text{
	transform: skewY(10deg);
	color: white;
	margin-top: 12%;
}

.rotate-text h1{
	width: 400px;
	font-size: 48px;
}

.rotate-text p{
	line-height: 35px;
    margin-bottom: 10%;
    letter-spacing: -.6px;
}

.container2{
	margin: 3% 0 0 0;
}

.container2-text{
	z-index: 2;
}

.container2-text h1{
	width: 450px;
	padding-left: 15%;
	font-size: 40px;
}

.container2-text p{
	width: 480px;
	padding-left: 15%;
	font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 300;
	color: #777777;
	line-height: 20px;
}

.container2-image img{
	width: 400px;
	height: 300px;
	margin-left: 10%;
}

.container2 .pattern-left-image img{
	/*width: 400px;*/
	/*height: 400px;*/
	transform: translateY(-21%);
	position: absolute;
	left: 1.7%;
}

.container3{
	clip-path: polygon(0 18%, 100% 0, 100% 69%, 0 88%);
	background: #7d95ff;
	height: 920px;
	z-index: -2;	
	width: 100%;
	margin-top: -.7%;
}

-img{
	margin: 16% 0 0 0;
	transform: skewY(-10deg);
}

.big-img img{
	width: 430px;
	height: 500px;
	transform: translateY(40%);
	padding-left: 10%;
}

.container3-text{
	color: white; 
}

.container3-text h1{
	width: 500px;
	padding-top: 25%;
	font-size: 48px;
}

.container3-text p{
	line-height: 35px;
    margin-bottom: 10%;
    letter-spacing: -.6px;
}

.container4{
	display: flex;
	margin-top: -15%;
	z-index: -2;
	align-items: center;
}

.responsive-text h1{
	transform: translateX(15%);
	width: 395px;
	padding-top: 20%;
	font-size: 48px;
}

.responsive-text p{
	transform: translateX(12%);
	color: #777777;
	line-height: 23px;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    margin-bottom: 10%; 
    font-weight: 300;
	width: 490px;
}

.responsive-text .butn{
	margin-left: 12%;
}

.email-img img{
	width: 500px;
	height: 400px;
	margin: 9% 0 0 8%;
}

.container5{
	background: linear-gradient(135deg, #bfacff 0, #795fff 100%);
	height: 500px;
	width: 100%;
	z-index: -2;
	transform: skewY(-10deg);
	margin-top: 6%;
}

.Successful-text{
	color: white;
	transform: skewY(10deg);
	text-align: center;
	padding-top: 8%;
}

.Successful-text h1{
	font-size: 48px;
}

.Successful-text p{
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 300;
	width: 52%;
	line-height: 21px;
	margin-left: 25%;
    margin-bottom: 3%;
    letter-spacing: .2px;
}

.footer{
	padding: 10% 0 0 10%;
	margin-top: 10%;
	background-color: white; 	
}

.footer .footer-img img{
	position: absolute;
    right: .4%;
    z-index: 2;
    transform: translateY(-40%);
}
	
.wrap h1{
	width: 315px;
	font-size: 30px;
}

.wrap p{
	color: #777777;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 300;
	width: 230px;
	line-height: 24px;
}

.wrap1 p{
	font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 300;
	color: #777777;
	line-height: 25px;
}

footer p{
	font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
	color: #777777;
	line-height: 25px;
}
